.home {
  display: grid;
  grid-template-areas: 
  "hero"
  "search";
  grid-template-rows: 40% 40%;
  grid-template-columns: 100%;
  align-items: center;


  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: url(../../../images/buildings1-min-compressor.jpg);
  color: white;
}

.hero {
  grid-area: hero;
}

.search {
  grid-area: search;
}

.search input, .search select, .search button {
  font-size: 2.5vh;
}