html,
body {
  margin: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 6vh;
  font-weight: bold;
}
h2 {
  font-size: 4.5vh;
}
h3 {
  font-size: 3.75vh;
}
h4 {
  font-size: 3vh;
}
h5 {
  font-size: 2.5vh;
  font-weight: bold;
}
h6 {
  font-size: 2.5vh;
}
p {
  font-size: 2.5vh;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading {
  height: 100%;
}

.to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  font-size: 50px;
  z-index: 15;
}

.user-modal {
  width: 75%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.home {
  height: 100vh;
  background: url('./images/buildings1-min-compressor.jpg');
  background-position: center center;
  background-size: cover;
  color: white;
  /*padding-top: 10vh;*/
}

.home .form {
  margin-top: 10vh;
}

.home .form-control,
.home .btn {
  font-size: 2.5vh;
}

.home .user {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.05);
}

.search {
  /*height: 100vh;*/
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ededed;
}

.search * {
  font-size: 2.25vh;
}

.search .town input {
  width: calc(100% - 37px);
  float: left;
}

.search span {
  cursor: pointer;
  position: relative;
}
.search .form-inline {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.search .form-inline > * {
  padding: 0.25rem;
}

.search .form-check {
  padding: 0;
}

.search .form-check label {
  margin: 0;
}

.search .unlocate::after,
.search .unlocate::before {
  background: red;
  content: '';
  height: 2px;
  position: absolute;
  width: 142%;
  top: calc(50% - 1px);
  left: -4px;
}

.search .unlocate::before {
  transform: rotate(-45deg);
}

.search .unlocate::after {
  transform: rotate(45deg);
}

.results {
  min-height: 100vh;
}

.results .map {
  height: 45vh;
  border-top: 1px solid #dddddd;
  background-color: black;
}

.results .navbar {
  background-color: #ededed;
}

.results .navbar-collapse {
  flex-grow: unset;
}

.results .nav-fixed {
  top: 0;
  position: fixed;
  z-index: 10;

  width: 100%;
}

.results .map-fixed {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.results .loading-overlay {
  height: 100%;
}

.results .results-cards {
  padding-top: 10px;
}

.results .card {
  margin-bottom: 10px;
}

.results .card-body {
  background-color: rgba(0, 0, 0, 0.03);
}

.results .card-header,
.results .card-footer {
  background-color: rgba(0, 0, 0, 0.1);
}

.results .filters * {
  font-size: 2.25vh;
}

.results .filters .price,
.results .filters .rating {
  padding: 0.375rem 0.75rem;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.results .filters .price span,
.results .filters .rating span {
  padding-right: 5px;
}

.results .filters .price i {
  padding-left: 2px;
  padding-right: 2px;
}

.results .filters .price i,
.results .filters .rating i {
  cursor: pointer;
  line-height: 1.5;
}

.results .filters .out {
  color: #adb5bd;
}

.place-of-interest {
  position: 'absolute';
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  transform: translate(-50%, -200%);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.place-of-interest i {
  position: relative;
  top: 3px;
}

.place-of-interest::after {
  z-index: -1;
  position: absolute;
  content: '';
  left: 0;
  bottom: -17px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 10px 0 10px;
  border-color: #007bff transparent transparent transparent;
}
