
.home {
  grid-area: home;
  height: 100%;
  scroll-snap-align: start;

}

.search {
  grid-area: search;
  scroll-snap-align: start;

}

.results {
  grid-area: results;
  height: 100%;
}

.app {
  height: 200vh;
  display: grid;
  align-items: center;
  scroll-snap-type: y mandatory;
  

  grid-template-areas: 
    "home"
    "search"
    "results";
  grid-template-rows: 100vh 20vh 80vh;
  grid-template-columns: 100%;
}

@media all and (min-width: 576px) {/*xs*/
  .app {
    grid-template-areas: 
      "home"
      "search"
      "results";
    grid-template-rows: 100vh 20vh 80vh;
    grid-template-columns: 100%; 
  }
}
@media all and (min-width: 768px) {/*sm*/
  .app {
    grid-template-areas: 
      "home"
      "search"
      "results";
    grid-template-rows: 100vh 9vh 91vh;
    grid-template-columns: 100%; 
  }

  .searchTop .form-control, .searchTop .btn {
    font-size: 2.5vh;
  }
}
@media all and (min-width: 992px) {/*md*/
  .app {
    grid-template-areas: 
      "home"
      "search"
      "results";
    grid-template-rows: 100vh 9vh 91vh;
    grid-template-columns: 100%; 
  }
}
@media all and (min-width: 1200px) {/*lg*/
  .app {
    grid-template-areas: 
      "home home home"
      ". search ."
      "results results results";
    grid-template-rows: 100vh 9vh 91vh;
    grid-template-columns: 10% 80% 10%;
  }
}



