
.search {
  display: grid;
  grid-template-areas: 
    "type type type"
    "town town town"
    "radius radius research";
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-columns: 30% 35% 35%;
  align-items: center;
  height: 100%;
}



.gridCell {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

@media all and (min-width: 768px) {/*md*/
  .search {
    display: grid;
    grid-template-areas: 
      "type town radius research";
    grid-template-columns: 20% 50% 15% 15%;
    grid-template-rows: 100%;
    align-items: center;
  } 

  .town {
    padding-right: 0;
  }
}


.gridCell button {
  width: 100%;
}

.type {
  grid-area: type;
}

.town {
  grid-area: town;
}

.radius {
  grid-area: radius;
}

.price {
  grid-area: price;
  margin-bottom: 1rem;
}

.opened {
  grid-area: opened;
}

.research {
  grid-area: research;
}



.townInput {
  display: inline-block;
  width: calc(100% - 31px);
}

.locate {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  font-size: 21px;
}

.unlocate::after, .unlocate::before {
  background: red;
  content: "";
  height: 2px;
  position: absolute;
  width: 142%;
  top: calc(50% - 1px);
  left: -5px;
}

.unlocate::before {
  transform: rotate(-45deg);
}

.unlocate::after {
  transform: rotate(45deg);
}